In [20]:
import pandas as pd

In [21]:
df = pd.read_csv('nuclear_data/toxic_waste_dataset_cleaned.csv')
df.head()

,ID,Title,Summary,Author/Source,Date,URL,Location,Country,Latitude,Longitude,Dumping Entity,Legal Actions,Estimated Waste Volume (tons),Year,Waste Type,Environmental Impact
0,1.0,Toxic Waste Dumping in Somalia,Greenpeace uncovered illegal dumping along the...,Greenpeace,1970-01-01,https://www.greenpeace.org/somalia-toxic-waste,Somali Coast,Somalia,2.0469,45.3182,Unknown Entities,No legal action,0.0,1970.0,Toxic & Radioactive,"Severe impact on marine life, possible health ..."
1,2.0,Trafigura Toxic Waste Scandal,"Trafigura dumped hazardous waste in Abidjan, a...",Amnesty & Greenpeace,1970-01-01,https://www.greenpeace.org/trafigura-toxic-dum...,"Abidjan, C么te d'Ivoire",C么te d'Ivoire,5.3453,-4.0244,Trafigura,Lawsuit settled for $200M,500.0,1970.0,Toxic Chemical Waste,"Health crisis affecting 100,000 people"
2,3.0,A Ban on Dumping Radioactive Waste at Sea,37 nations agreed to ban radioactive waste dum...,Greenpeace,1970-01-01,https://www.greenpeace.org/radioactive-waste-ban,Atlantic Ocean,Multiple countries,0.0000,-30.0000,Multiple countries (Pre-ban),Ban enforced,0.0,1970.0,Radioactive Waste,"Long-term radiation risks, ecosystem contamina..."
3,4.0,The True Cost of Nuclear Power in South Africa,Report on nuclear waste challenges in South Af...,Greenpeace Africa,1970-01-01,https://www.greenpeace.org/south-africa-nuclea...,"Koeberg, South Africa",South Africa,-33.6833,18.4333,South African Nuclear Facilities,Ongoing legal & environmental debates,300.0,1970.0,Radioactive Waste,"Storage issues, groundwater contamination risk"
4,5.0,Nuclear Waste Dumping in Somalia: Claims and I...,Study evaluates claims of radioactive waste of...,Transparency Solutions,1970-01-01,https://transparencysolutions.com/nuclear-wast...,Somali Coast,Somalia,2.0469,45.3182,Unknown Entities,No legal action,0.0,1970.0,Radioactive Waste,"Unverified reports of radiation sickness, ecol..."

In [22]:
for index, row in df.iterrows():
    print(f"REPORT {index + 1}: {row['Title']} \n{row['Summary']}")

REPORT 1: Toxic Waste Dumping in Somalia
Greenpeace uncovered illegal dumping along the Somali coast.
REPORT 2: Trafigura Toxic Waste Scandal
Trafigura dumped hazardous waste in Abidjan, affecting 100,000 people.
REPORT 3: A Ban on Dumping Radioactive Waste at Sea
37 nations agreed to ban radioactive waste dumping at sea.
REPORT 4: The True Cost of Nuclear Power in South Africa
Report on nuclear waste challenges in South Africa.
REPORT 5: Nuclear Waste Dumping in Somalia: Claims and Investigations
Study evaluates claims of radioactive waste off the Somali coast.
REPORT 6: Toxic Colonialism: Waste Dumping in Africa
Greenpeace tracks 115 toxic waste shipments to Africa.
REPORT 7: Unknown
No summary available
REPORT 8: Unknown
No summary available
REPORT 9: Unknown
No summary available
REPORT 10: Unknown
No summary available
REPORT 11: Unknown
No summary available
REPORT 12: Environmental Injustice and Electronic Waste in Ghana: Challenges and Recommendations
The article discusses the environmental and health challenges posed by electronic waste (e-waste) in Ghana.
REPORT 13: The Trajectory of Illicit Waste Trade in Africa: Implications for Human Rights and Sustainable Development
This article examines the ongoing issue of illicit waste trade in Africa.

In [23]:
df = pd.read_excel('nuclear_data/waste-spent-fuel-storage-dry-cask.xlsx')
print(df.shape)
print(df.columns)
df.head()

(101, 12)
Index(['Year of Update', 'Reactor (Note: NRC-abbreviated unit names)',
       'License Type', 'Vendor', 'Storage Model', 'Docket Number', 'Utility',
       'Notes', 'Column1', 'Column2', 'Column3', 'Column4'],
      dtype='object')

,Year of Update,Reactor (Note: NRC-abbreviated unit names),License Type,Vendor,Storage Model,Docket Number,Utility,Notes,Column1,Column2,Column3,Column4
0,2022,Arkansas Nuclear,GL,Westinghouse Electric Company LLC,VSC-24,7200013,"Entergy Nuclear Operations, Inc.",NaN,NaN,NaN,NaN,NaN
1,2022,Arkansas Nuclear,GL,Holtec International,HI-STORM 100,7200013,"Entergy Nuclear Operations, Inc.",NaN,NaN,NaN,NaN,NaN
2,2022,Beaver Valley,GL,TN Americas LLC,NUHOMS-37PTH,7201043,First Energy Nuclear Operating Co.,NaN,NaN,NaN,NaN,NaN
3,2022,Big Rock Point,GL,Westinghouse Electric Company LLC,Fuel Solutions,7200043,"Entergy Nuclear Operations, Inc.",NaN,NaN,NaN,NaN,NaN
4,2022,Braidwood,GL,Holtec International,HI-STORM 100,7200073,"Exelon Generation Co., LLC",NaN,NaN,NaN,NaN,NaN

In [24]:
html_table = """
<table class="basic_table" cellspacing="0" cellpadding="0" width="900">
<thead>
    <tr>
      <th>year</th>
      <th>bwr_assemblies</th>
      <th>pwr_assemblies</th>
      <th>total_assemblies</th>
      <th>bwr_tons_uranium</th>
      <th>pwr_tons_uranium</th>
      <th>total_tons_uranium</th>
      <th>bwr_average_burnup</th>
      <th>pwr_average_burnup</th>
    </tr>
  </thead>
    <tbody>
      <tr>
        <td>1968</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0.0</td>
        <td>0.0</td>
        <td>0.0</td>
        <td>0.0</td>
        <td align="right" >0.0</td>
        </tr>
      <tr>
        <td>1969</td>
        <td>94</td>
        <td>0</td>
        <td>94</td>
        <td>9.6</td>
        <td>0.0</td>
        <td>9.6</td>
        <td>16.7</td>
        <td align="right">0</td>
        </tr>
      <tr>
        <td>1970</td>
        <td>29</td>
        <td>99</td>
        <td>128</td>
        <td>5.6</td>
        <td>39.0</td>
        <td>44.6</td>
        <td>0.3</td>
        <td align="right">18.4</td>
        </tr>
      <tr>
        <td>1971</td>
        <td>408</td>
        <td>101</td>
        <td>509</td>
        <td>64.0</td>
        <td>39.9</td>
        <td>103.9</td>
        <td>8.3</td>
        <td align="right">25.7</td>
        </tr>
      <tr>
        <td>1972</td>
        <td>765</td>
        <td>251</td>
        <td>1,016</td>
        <td>140.9</td>
        <td>88.0</td>
        <td>228.9</td>
        <td>6.8</td>
        <td align="right">23.3</td>
        </tr>
      <tr>
        <td>1973</td>
        <td>539</td>
        <td>166</td>
        <td>705</td>
        <td>90.1</td>
        <td>67.5</td>
        <td>157.5</td>
        <td>13.2</td>
        <td align="right">24.1</td>
        </tr>
      <tr>
        <td>1974</td>
        <td>1,277</td>
        <td>571</td>
        <td>1,848</td>
        <td>239.8</td>
        <td>206.0</td>
        <td>445.9</td>
        <td>13.1</td>
        <td align="right">18.4</td>
        </tr>
      <tr>
        <td>1975</td>
        <td>1,221</td>
        <td>790</td>
        <td>2,011</td>
        <td>225.6</td>
        <td>318.7</td>
        <td>544.3</td>
        <td>17.1</td>
        <td align="right">18.2</td>
        </tr>
      <tr>
        <td>1976</td>
        <td>1,664</td>
        <td>921</td>
        <td>2,585</td>
        <td>297.6</td>
        <td>396.2</td>
        <td>693.8</td>
        <td>13.6</td>
        <td align="right">22.4</td>
        </tr>
      <tr>
        <td>1977</td>
        <td>2,047</td>
        <td>1,092</td>
        <td>3,139</td>
        <td>382.8</td>
        <td>460</td>
        <td>842.8</td>
        <td>17.0</td>
        <td align="right">25.2</td>
        </tr>
      <tr>
        <td>1978</td>
        <td>2,239</td>
        <td>1,665</td>
        <td>3,904</td>
        <td>383.7</td>
        <td>698.3</td>
        <td>1,082.0</td>
        <td>19.8</td>
        <td align="right">26.3</td>
        </tr>
      <tr>
        <td>1979</td>
        <td>2,131</td>
        <td>1,635</td>
        <td>3,766</td>
        <td>399.8</td>
        <td>708.8</td>
        <td>1,108.6</td>
        <td>22.5</td>
        <td align="right">27.1</td>
        </tr>
      <tr>
        <td>1980</td>
        <td>3,330</td>
        <td>1,456</td>
        <td>4,786</td>
        <td>619.9</td>
        <td>617.6</td>
        <td>1,237.5</td>
        <td>22.5</td>
        <td align="right">29.8</td>
        </tr>
      <tr>
        <td>1981</td>
        <td>2,467</td>
        <td>1,547</td>
        <td>4,014</td>
        <td>458.7</td>
        <td>658.3</td>
        <td>1,117.0</td>
        <td>24.1</td>
        <td align="right">30.3</td>
        </tr>
      <tr>
        <td>1982</td>
        <td>1,949</td>
        <td>1,498</td>
        <td>3,447</td>
        <td>356.8</td>
        <td>640.3</td>
        <td>997.1</td>
        <td>24.9</td>
        <td align="right">29.7</td>
        </tr>
      <tr>
        <td>1983</td>
        <td>2,646</td>
        <td>1,771</td>
        <td>4,417</td>
        <td>481.8</td>
        <td>769.1</td>
        <td>1,250.8</td>
        <td>27.1</td>
        <td align="right">30.3</td>
        </tr>
      <tr>
        <td>1984</td>
        <td>2,736</td>
        <td>1,933</td>
        <td>4,669</td>
        <td>497.8</td>
        <td>839.4</td>
        <td>1,337.2</td>
        <td>25.9</td>
        <td align="right">29.5</td>
        </tr>
      <tr>
        <td>1985</td>
        <td>2,989</td>
        <td>2,033</td>
        <td>5,022</td>
        <td>542.6</td>
        <td>859.3</td>
        <td>1,402.0</td>
        <td>23.6</td>
        <td align="right">32</td>
        </tr>
      <tr>
        <td>1986</td>
        <td>2,551</td>
        <td>2,255</td>
        <td>4,806</td>
        <td>457.7</td>
        <td>979.3</td>
        <td>1,436.9</td>
        <td>21.1</td>
        <td align="right">30.8</td>
        </tr>
      <tr>
        <td>1987</td>
        <td>3,316</td>
        <td>2,567</td>
        <td>5,883</td>
        <td>596.2</td>
        <td>1,096.3</td>
        <td>1,692.5</td>
        <td>22.7</td>
        <td align="right">31.5</td>
        </tr>
      <tr>
        <td>1988</td>
        <td>2,956</td>
        <td>2,574</td>
        <td>5,530</td>
        <td>535.3</td>
        <td>1,093.8</td>
        <td>1,629.1</td>
        <td>24.5</td>
        <td align="right">33.7</td>
        </tr>
      <tr>
        <td>1989</td>
        <td>3,803</td>
        <td>2,719</td>
        <td>6,522</td>
        <td>691.8</td>
        <td>1,184.6</td>
        <td>1,876.4</td>
        <td>22.4</td>
        <td align="right">32.7</td>
        </tr>
      <tr>
        <td>1990</td>
        <td>3,751</td>
        <td>3,434</td>
        <td>7,185</td>
        <td>681.0</td>
        <td>1,480.3</td>
        <td>2,161.3</td>
        <td>25.4</td>
        <td align="right">34.6</td>
        </tr>
      <tr>
        <td>1991</td>
        <td>2,926</td>
        <td>2,804</td>
        <td>5,730</td>
        <td>527.1</td>
        <td>1,218.6</td>
        <td>1,745.8</td>
        <td>28.2</td>
        <td align="right">35.7</td>
        </tr>
      <tr>
        <td>1992</td>
        <td>3,932</td>
        <td>3,578</td>
        <td>7,510</td>
        <td>713.1</td>
        <td>1,542.8</td>
        <td>2,255.9</td>
        <td>28.9</td>
        <td align="right">36.8</td>
        </tr>
      <tr>
        <td>1993</td>
        <td>3,763</td>
        <td>3,401</td>
        <td>7,164</td>
        <td>678.0</td>
        <td>1,477.0</td>
        <td>2,155.1</td>
        <td>30.3</td>
        <td align="right">39.2</td>
        </tr>
      <tr>
        <td>1994</td>
        <td>3,776</td>
        <td>2,746</td>
        <td>6,522</td>
        <td>676.0</td>
        <td>1,176.0</td>
        <td>1,852.0</td>
        <td>33.2</td>
        <td align="right">40.4</td>
        </tr>
      <tr>
        <td>1995</td>
        <td>4,391</td>
        <td>3,736</td>
        <td>8,127</td>
        <td>780.6</td>
        <td>1,626.0</td>
        <td>2,406.5</td>
        <td>32.8</td>
        <td align="right">40.9</td>
        </tr>
      <tr>
        <td>1996</td>
        <td>4,663</td>
        <td>3,532</td>
        <td>8,195</td>
        <td>827.4</td>
        <td>1,512.5</td>
        <td>2,339.9</td>
        <td>35.2</td>
        <td align="right">39.1</td>
        </tr>
      <tr>
        <td>1997</td>
        <td>3,850</td>
        <td>3,336</td>
        <td>7,186</td>
        <td>673.7</td>
        <td>1,475.6</td>
        <td>2,149.3</td>
        <td>35.5</td>
        <td align="right">40.6</td>
        </tr>
      <tr>
        <td>1998</td>
        <td>3,816</td>
        <td>2,157</td>
        <td>5,973</td>
        <td>665.3</td>
        <td>930.8</td>
        <td>1,596.1</td>
        <td>36.2</td>
        <td align="right">44.1</td>
        </tr>
      <tr>
        <td>1999</td>
        <td>4,320</td>
        <td>3,552</td>
        <td>7,872</td>
        <td>752.3</td>
        <td>1,555.5</td>
        <td>2,307.8</td>
        <td>35.7</td>
        <td align="right">44.2</td>
        </tr>
      <tr>
        <td>2000</td>
        <td>4,603</td>
        <td>3,122</td>
        <td>7,725</td>
        <td>800.4</td>
        <td>1,368.0</td>
        <td>2,168.4</td>
        <td>38.3</td>
        <td align="right">44.9</td>
        </tr>
      <tr>
        <td>2001</td>
        <td>3,617</td>
        <td>2,892</td>
        <td>6,509</td>
        <td>623.7</td>
        <td>1,268.4</td>
        <td>1,892.1</td>
        <td>40.1</td>
        <td align="right">45.5</td>
        </tr>
      <tr>
        <td>2002</td>
        <td>4,148</td>
        <td>3,766</td>
        <td>7,914</td>
        <td>717.6</td>
        <td>1,630.0</td>
        <td>2,347.5</td>
        <td>40.2</td>
        <td align="right">46.0</td>
        </tr>
      <tr>
        <td>2003</td>
        <td>4,584</td>
        <td>3,585</td>
        <td>8,169</td>
        <td>792.9</td>
        <td>1,572.0</td>
        <td>2,364.9</td>
        <td>39.5</td>
        <td align="right">46.4</td>
        </tr>
      <tr>
        <td>2004</td>
        <td>4,431</td>
        <td>2,669</td>
        <td>7,100</td>
        <td>765.2</td>
        <td>1,165.6</td>
        <td>1,930.8</td>
        <td>42.8</td>
        <td align="right">46.9</td>
        </tr>
      <tr>
        <td>2005</td>
        <td>4,075</td>
        <td>3,705</td>
        <td>7,780</td>
        <td>707.0</td>
        <td>1,626.0</td>
        <td>2,333.0</td>
        <td>42.8</td>
        <td align="right">46.6</td>
        </tr>
      <tr>
        <td>2006</td>
        <td>3,995</td>
        <td>3,516</td>
        <td>7,511</td>
        <td>698.4</td>
        <td>1,536.2</td>
        <td>2,234.6</td>
        <td>43.1</td>
        <td align="right">46.9</td>
        </tr>
      <tr>
        <td>2007</td>
        <td>4,574</td>
        <td>2,768</td>
        <td>7,342</td>
        <td>805.8</td>
        <td>1,228.7</td>
        <td>2,034.5</td>
        <td>43.3</td>
        <td align="right">46.9</td>
        </tr>
      <tr>
        <td>2008</td>
        <td>4,480</td>
        <td>3,536</td>
        <td>8,016</td>
        <td>795.5</td>
        <td>1,542.5</td>
        <td>2,338.0</td>
        <td>43.1</td>
        <td align="right">47.2</td>
        </tr>
      <tr>
        <td>2009</td>
        <td>4,389</td>
        <td>3,672</td>
        <td>8,061</td>
        <td>776.1</td>
        <td>1,613.6</td>
        <td>2,389.7</td>
        <td>45.1</td>
        <td align="right">46.5</td>
        </tr>
      <tr>
        <td>2010</td>
        <td>4,615</td>
        <td>2,836</td>
        <td>7,451</td>
        <td>820.5</td>
        <td>1,242.1</td>
        <td>2,062.6</td>
        <td>44.3</td>
        <td align="right">46.8</td>
        </tr>
      <tr>
        <td>2011</td>
        <td>4,104</td>
        <td>3,610</td>
        <td>7,714</td>
        <td>728.1</td>
        <td>1,585.6</td>
        <td>2,313.7</td>
        <td>45.1</td>
        <td align="right">46.8</td>
        </tr>
      <tr>
        <td>2012</td>
        <td>4,474</td>
        <td>3,683</td>
        <td>8,157</td>
        <td>796.1</td>
        <td>1,614.7</td>
        <td>2,410.8</td>
        <td>45.0</td>
        <td align="right">44.6</td>
        </tr>
		<tr>
		  <td>2013</td>
		  <td>4,190</td>
		  <td>2,723</td>
		  <td>6,913</td>
		  <td>743.3</td>
		  <td>1,197.4</td>
		  <td>1,940.7</td>
		  <td>44.8</td>
		  <td align="right">45.6</td>
        </tr>
		<tr>
		  <td>2014</td>
		  <td>4,594</td>
		  <td>3,458</td>
		  <td>8,052</td>
		  <td>823.0</td>
		  <td>1,516.4</td>
		  <td>2,339.4</td>
		  <td>44.1</td>
		  <td align="right">47.0</td>
        </tr>
      <tr>
        <td>2015</td>
        <td>4,124</td>
        <td>3,491</td>
        <td>7,615</td>
        <td>733.8</td>
        <td>1,538.7</td>
        <td>2,272.5</td>
        <td>45.9</td>
        <td align="right">46.7</td>
        </tr>
		<tr>
		  <td>2016</td>
		  <td>4,177</td>
		  <td>2,764</td>
		  <td>6,941</td>
		  <td>749.3</td>
		  <td>1,219.9</td>
		  <td>1,969.2</td>
		  <td>45.2</td>
		  <td align="right">46.3</td>
        </tr>
		<tr>
		  <td>2017</td>
		  <td>4,162</td>
		  <td>3,482</td>
		  <td>7,644</td>
		  <td>748.1</td>
		  <td>1,526.5</td>
		  <td>2,274.6</td>
		  <td>46.4</td>
		  <td align="right">46.2</td>
    </tr>
    </tbody>
</table>
"""

In [25]:
df= pd.read_html(html_table)[0]

df.head()

/tmp/ipykernel_179015/103403730.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df= pd.read_html(html_table)[0]

,year,bwr_assemblies,pwr_assemblies,total_assemblies,bwr_tons_uranium,pwr_tons_uranium,total_tons_uranium,bwr_average_burnup,pwr_average_burnup
0,1968,0,0,0,0.0,0.0,0.0,0.0,0.0
1,1969,94,0,94,9.6,0.0,9.6,16.7,0.0
2,1970,29,99,128,5.6,39.0,44.6,0.3,18.4
3,1971,408,101,509,64.0,39.9,103.9,8.3,25.7
4,1972,765,251,1016,140.9,88.0,228.9,6.8,23.3

In [26]:
df.to_csv('nuclear_data/nuclear_spent_fuel.csv', index=False)